<h1>Todos</h1>
<p>Loading...</p>
<script>
  fetch('/api/todos')
    .then(r => r.json())
    .then(todos => document.body.innerHTML = '<h1>Active Todos (' + todos.length + ')</h1><pre>' + JSON.stringify(todos, null, 2) + '</pre>')
    .catch(e => document.body.innerHTML = '<h1>Error: ' + e.message + '</h1>');
</script>
